/* You can add global styles to this file, and also import other style files */

:root {
    --accent-color-300: rgb(169, 71, 41);
    --accent-color-500: rgb(255, 87, 34);
    --accent-color-700: rgb(247, 114, 73);

    --background-dark: rgb(27, 27, 27);
    --background-mid: rgb(47, 49, 51);
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    padding-bottom: 1rem;

    font-family: Roboto, sans-serif;

    background: linear-gradient(
        to right,
        var(--background-dark) 0%, 
        var(--background-mid) 25%,
        var(--background-mid) 75%,
        var(--background-dark) 100%
    );

    color: rgb(212, 212, 212);
}
